/*
* overview
*---------*
*- algemeen
*- LOGIN
*- containers
*- main
*- events
*- info_events
*- mobile
*/


/* 
    algemeen
 */
body {
font-family: Arial, sans-serif;
background-color: #001f3f;
color: #FFDC00;
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
font-size: 100%;
}

a {
color: #FFDC00;
/* display: block; */
/* margin-top: 10px; */
}

b {
font-weight: 900;
font-size: large;
}

button {
margin-top: 20px;
padding: 10px 20px;
background-color: #FFDC00;
border: none;
border-radius: 5px;
cursor: pointer;
color: #001f3f;
font-size: 1em;
}

button:hover {
background-color: #FFD700;
}

button:disabled {
background-color: grey;
}




/* 
    LOGIN
*/
#login {
background-color: #022b45;
width: 100%;
height: 100%;
position: absolute;
z-index: 10;
display: flex;
flex-direction: column;
/* justify-content: center; */
padding-top: 5%;
align-items: center;
font-size: 150%;
}

#login input {
font-size: 80%;
margin-bottom: 25px;
}

#login label  {
margin-bottom: 10px;
}

#loginBackButton {
display: none;
position: absolute;
top: 10%;
}

#loginTitle {
text-align: center;
}  

#usernameLabel {
display: none;
}

#usernameInput {
display: none;
}

#inlogButton {
margin-bottom: 25px;
}

#forgotPassword {
margin-bottom: 10px;
}



#loadingText {
position: absolute;
left: 10px;
top: 10px;
display: none;
z-index: 20;
}


/* 
//
// containers
// */
.container {
text-align: center;
background-color: #011627;
border-radius: 10px;
padding: 20px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
width: 80%;
position: absolute;
top: 10%;
display: none;
}

.header {
margin-bottom: 20px;
margin-top: 5%;
}

.header h1 {
margin: 0;
font-size: 2em;
}

.header h2 {
margin: 0;
font-size: 1.5em;
}




/* //
// main
// */
#logOut_email {
position: absolute;
right: 10px;
top: 0;
text-align: right;
}

#logOutButton {
display: none;
margin-bottom: 5%;
}

#score_edit {
position: absolute;
left: 10px;
top: 0;
text-align: left;
}

#editButton {
display: none;
margin-bottom: 10%;
}

#toonAllesLabel {
display: none;
position: absolute;
left: 10px;
top: 12vh;
text-align: left;
margin-top: 1%;
}

#breaksForMobile {
display: none;
}

#mainTitle {
margin-top: 0;
}




/* //
// events
// */
.events span {
transform: rotate(-45deg);
font-size: 1em;
justify-self: center;
width: 100px;
text-align: center;
/* font-size: 80%; */
margin-bottom: 5%;
}

.events {
margin-top: 20px;
display: grid;
grid-template-columns: 1fr repeat(5, 1fr);
gap: 10px;
}

.event {
background-color: #022b45;
padding: 10px;
margin: 10px 0;
border-radius: 5px;
display: contents;
}

.event-title {
text-align: left;
padding: 10px;
background-color: #022b45;
border-radius: 5px;
display: flex;
align-items: center;
}

.radio-group {
display: flex;
justify-content: center;
align-items: center;
background-color: #022b45;
padding: 10px;
border-radius: 5px;
}

input[type="radio"] {
margin: 0 5px;
width: 30px;
height: 30px;
}




/* //
// info_events
// */
.homeButton {
position: absolute;
/* top: 0px; */
/* left: 45%;       */
font-size: 100%;
justify-self: center;
}

.nextButton {
position: absolute;
right: 5px;
/* top: 50px; */
margin-top: 5%;
background-color: grey;
z-index: 10;
}

.previousButton {
position: absolute;
left: 5px;
/* top: 50px; */
margin-top: 5%;
background-color: grey;
z-index: 10;
}

.infoEvent {
display: block;
position: relative;
left: 25%;
width: 50%; /* Adjust as needed */
text-align: left;
word-wrap: break-word;
}



/* //
// mobile
// */
@media screen and (max-width: 500px){
/* // algemeen */
body {
    font-size: 200%;
}

b {
    font-size: 110%;
}


/* // LOGIN */
#login {
font-size: 150%;
}
input {
width: 30%;
/* height: 200%; */
font-size: 100%;
}
input[type="radio"] {
width: 50px;
height: 50px;
}


/* // containers */
.header {
    margin-top: 12%;
}

#breaksForMobile {
    display: block;
}

/* // main  */
#toonAllesLabel {
    top: 1vh;
    left: 50%;
    width: 30%;
    transform: translateX(-50%);
    display: flex; /* Use flexbox to align items horizontally */
    align-items: center; /* Center the checkbox vertically with the label */
}

#toonAllesInput {
    display: inline;
    transform: scale(2); /* Adjust the size of the checkbox if needed */
    margin-left: 10px; /* Add some space between the label and the checkbox */
}

#mainTitle {
    margin-top: 12%;
}


/* // events */
.events span {
    margin-bottom: 20%;
    font-size: 80%;
}


/* // info_events */
.nextButton {
    margin-top: 12%;
}
.previousButton {
    margin-top: 12%;
}
}
